<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      padding: 0;
      margin: 0;
    }
    #input {
      position: absolute;
      top: 10px;
      left: 10px;
    }
    .focused {
      background-color: #E8C872;
    }
  </style>
</head>
<body>
  <input type="text" id="input" placeholder="Hello">
  <canvas id="cavnas"></canvas>

  <script src="/scripts/canvas_drag.js"></script>
</body>
</html>
