<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Cute Font', cursive;
      background-color: #FBF9F1;
      margin: 0;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      padding: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Draggable Page</h1>
  </div>
  <script src="/scripts/draggable.js"></script>
</body>
</html>
