<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      padding: 0;
      margin: 0;
      /* inactive scrolling */
      overflow: hidden;
      touch-action: none ;
    }
    #object {
      width: 100px;
      height: 100px;
      background-color: #E0CCBE;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    }
  </style>
</head>
<body>
  <canvas id="canvas"></canvas>
  <id id="object">

  </id>
  <script src="/scripts/mobile_view_physics.js"></script>

  <script src="/scripts/header.js"></script>
</body>
</html>
