<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Page List</h1>
  <ul>
    <li><a href="/views/language_learning.html">Language Learning</a></li>
    <li><a href="/views/grid.html">Grid</a></li>
    <li><a href="/views/canvas.html">Canvas</a></li>
    <li><a href="/views/canvas2.html">Canvas 2</a></li>
    <li><a href="/views/index.html">Index</a></li>
    <li><a href="/views/looping.html">Looping</a></li>
    <li><a href="/views/canvas_drag.html">Canvas drag</a></li>
    <li><a href="/views/normal_drag.html">Normal Drag</a></li>

  </ul>
</body>
</html>
