h1 {
  font-size: 3em;
  color: #99BC85;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #f4f4f4;
}
.button-list {
  display: inline-flex;
  justify-content: start;
  align-items: center;
  padding: 40px;
  background-color: #E1F0DA;
}
.button-list button {
  background-color: #99BC85; /* Green background */
  color: white; /* White text */
  text-decoration: none; /* No underline on text */
  font-size: 16px; /* Text size */

  width: 80px; /* Width of the button */
  height: 80px; /* Height of the button */

  margin: 10px; /* Margin around the button */
  padding: 30px 20px; /* Top and bottom padding, left and right padding */

  border: 3px solid rgb(6, 104, 27); /* No border */
  border-radius: 50%; /* Fully rounded corners */

  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0px 30px 40px -20px rgba(0,0,0,1); /* Box shadow */
}
