body, input, button, select, textarea{
  font-family: Workbench, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

body {
  padding-bottom: 400px;
}
h1 {
  font-size: 3em;
  color: #99BC85;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #f4f4f4;
}

.title{
  text-align: center;
  padding: 20px;
  height: 600px;
  font-size: 1.4em;
  color: #99BC85;
}

.background-image-container {
  background-image: url('/assets/images/background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:top;
}


.content-panel{
  display: flex;
  padding: 3px;
  background-color: #E1F0DA;
}
.button-list {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 3px;
  background-color: #E1F0DA;
}
.button-list button, .button2, button {
  background-color: #99BC85; /* Green background */
  color: white; /* White text */
  text-decoration: none; /* No underline on text */
  font-size: 12px; /* Text size */

  width: 80px; /* Width of the button */
  height: 80px; /* Height of the button */

  margin: 10px; /* Margin around the button */
  padding: 30px 20px; /* Top and bottom padding, left and right padding */
  display: flex;
  text-align: center; /* Center text */
  justify-content: center;

  border: 1px solid rgb(76, 169, 96); /* No border */
  border-radius: 100%; /* Fully rounded corners */

  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0px 30px 40px -20px rgba(0,0,0,1); /* Box shadow */

  position: relative
}

.meta-data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #E1F0DA;
}

.input-range {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  background-color: #E1F0DA;
}

.input-range input[type=range]{
  width: 100%;
  margin: 0 20px;
  appearance: none;
  cursor: pointer;
}
#button-result {
  background-color: #E1F0DA;

}


.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  padding: 10px;

  background-color: #E1F0DA;

  max-width: 600px;
  max-height: 600px;

  margin: 0 auto;

  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);

}

.grid-item {
  background-color: #99bc85;
  color: white;
  border: 5px solid #757575;

  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;

  width: 70px;
  height: 50px;

  cursor: pointer;

  transition: background-color 0.15s ease;
}
.grid-item:hover {
  background-color: #bae3a2;
  color: #99BC85;
}


.variable-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #E1F0DA;
}
.variable-input-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #E1F0DA;

  border-radius: 30px;
  margin-right: 10px;
}
.variable-input-button {
  padding: 10px;
  width: 40px;
  height: 40px;
  background-color: #99BC85;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.history-box{
  display: block;
}

.hover-element {
  background-color: #99BC85;
  color: white;
  margin: auto 100px;
  padding: 10px;
  transition: background-color 0.5s ease;
}
